@model DataModels.Sales.InvoiceMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InvoiceMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

    </dl>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Price / Unit
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Cost
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvoiceChildren)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity + item.Item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Total Items:
                </th>
                <th>
                    @Model.InvoiceChildren.Count
                </th>
                <th>
                    Total Cost:
                </th>
                <th>
                    @Model.InvoiceChildren.Sum(item => item.Cost)
                </th>
            </tr>
        </tfoot>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
